<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>汇创国际_首页</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="css_office/global.css">
    <link rel="stylesheet" type="text/css" href="../css/layout.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
</head>

<body>
    <aside class="content-l">
        <ul>
            <li>
                <a href="traffic.html">
                    <img src="images_office/img1.png" alt="imgs"></a>
            </li>
            <li>
                <a href="service.html">
                    <img src="images_office/img2.png" alt="imgs"></a>
            </li>
            <li>
                <a href="facility.html">
                    <img src="images_office/img3.png" alt="imgs"></a>
            </li>
            <li>
                <a href="news.html">
                    <img src="images_office/img4.png" alt="imgs"></a>
            </li>
        </ul>
    </aside>
    <aside class="content-r">
        <ul>
            <li>
                <a href="javascript:;">
                    <img src="../images/aside_img1.png" alt="好客武汉" title="好客武汉"></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/aside_img2.png" alt="优惠券" title="优惠券"></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../images/aside_img3.png" alt="红包雨" title="红包雨"></a>
            </li>
        </ul>
    </aside>
    <section class="content-m">
        <ul>
            <li>
                <img src="images_office/video.png" alt="公司简介" height="681">
            </li>
            <li>
                <a href="javascript:;" class="cont-txt bg-darkblue1">国庆巨惠，全场满1000减100，满2000减200，满3000减500
                </a>
            </li>
            <li>
                <a href="introduction.html">
                    <img src="images_office/img5.png" alt="公司简介" title="介绍">
                </a>
            </li>
        </ul>
    </section>
</body>
<script type="text/javascript">
	var userTemplateId = location.href.split("?")[1].split("=")[1];
	console.log(userTemplateId);
</script>
</html>
